extends ../../layout
block head
  title update post - bclindner
  include editor
block breadcrumbs
  a(href='/') bclindner
  |  &rsaquo;&nbsp;
  a(href='../..') blog
  |  &rsaquo;&nbsp;
  a(href='..') admin
  |  &rsaquo;&nbsp;
  a(href='') update post
block content
  h1 update post
  form(method='post',action='/blog/admin/update')
    fieldset
      input(type='hidden', name='oldslug', value=post.slug)
      label(for='title') Title:
      input(type='text', name='title', value=post.title, required)
      label(for='author') Author:
      input(type='text', name='author', value=post.author, required)
      label(for='slug') Post Slug:
      input(type='text', name='slug', placeholder=post.slug)
    fieldset
      label(for='content') Content:
      textarea(name='content', id='article-content')=post.content
    fieldset
      input(class='submit', type='submit', value='Update Post')
  hr
