extends ../layout
block head
  title=post.title + ' - bclindner'
block content
  article
    section.blog-metadata
      h1.title=post.title
      p.byline=post.author
      p.dateline=post.createdAt
    section.blog-content!=post.content
  hr
